/*
* {
 margin:0;
 padding:0;
 box-sizing: border-box;   
} */

.flex-container{

    justify-content:center;
    align-items: center;
    background-color:hsl(185, 75%, 39%);
    display: flex;
    flex-flow: column wrap;
    max-width: 1440px;

}

.flex-item{
     /*flex: grow shrink basis;*/
    flex: 0 1  400px;
    
}

.flex-container2{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items: end;
    background-color:rgb(250, 250, 250);

}

.flex-item-row{
     /*flex: grow shrink basis;*/
    flex: 2 1 20px;
    border:solid 1px black;
    
}

main{
    margin: auto;
    padding:auto;
    
    align-content: center;
    align-items: center;
    align-self: center;
    display:block;
    height:450px;
}

.stat_Div{
    display: inline-block;   
}

.stat_Div2{
    display:inline;
}
body{
    
    max-width: 1440px;

}


.top{
    transform: translate(50px, 100px); 
    background-size: cover;
    position: absolute;
    overflow:hidden;
    height:300px;
  
}


.bottom{
    
    transform:rotate(90deg);
    background-size: cover;
    position: absolute;
    overflow:hidden;
    height:300px;
    
}

/*
@media screen and (max-width:706px){
.top{
        transform:translate(-70%,-55%);
}
.bottom{
        transform: translate(70%, 55%);
    }
}

@media screen and (max-height:700px){
.bottom{
        transform: translate(70%,75%);
    }
}
*/
.card{
    height: 50px;
    background: rgb(250, 250, 250);
}


.card_top{
    align-content: center;
    background-image: url(../images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    background-size: 310px 100px;
    background-color:rgb(250, 250, 250);
    border-radius: 10px 10px 0px 0px;
    
    height:160px;
}


.align_card{
    align-content:space-around;
    align-items:center;
    margin-top:20px;
    padding:60px;
    align-content: center;
    width: 200px;
    height:200px;

}
.avatar{
    
    border-radius:50%;
    align-items: center;
    margin: 70px 10px 10px 65px;
    
    border: 3px white solid;
    width: 80px;
    height: 80px;
}

.avatar_Row{
    
    width: 220px;
    height:270px;
}

.avatar_align{
    align-content: center;
    align-items: center;
    
}

.card_info{
    align-content: center;
    align-items: center;
    background-color:rgb(250, 250, 250);
}

.card_city{
    align-content: center;
    align-items: center;
    font-weight:400;
    font-family:'Kumbh Sans', sans-serif;
    text-align: center;
    font-size: small;
    margin-bottom: 15px;
   
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: hsl(228, 45%, 44%); 
}

.card_title{
    font-weight: 700;
    text-align: center;
    font-family:'Kumbh Sans', sans-serif;
    
}

.card_age{
    text-align:right;
    display: inline;
    font-weight:400;
    font-family:'Kumbh Sans', sans-serif;
    

}

.stat__num{
    font-weight:700;
    font-family:'Kumbh Sans', sans-serif;
    text-align:center;

}

.stat__title{
    align-content: center;
    align-items: center;
    font-weight:400;
    font-family:'Kumbh Sans', sans-serif;
    text-align: center;
    font-size: x-small;
}

.btm_rowRadius{
    background-color:rgb(250, 250, 250);
    border-radius: 0px 0px 10px 10px;
    height:70px;
    border-top: 1px inset rgb(250, 250, 250) ;
    padding:15px;
}

.bgcolor{
    background-color: rgb(250, 250, 250);
}